fastapi
uvicorn
python-multipart
pdfplumber
spacy
pydantic
pytesseract
pdf2image
opencv-python
numpy
python-dotenv
motor
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bionlp13cg_md-0.5.4.tar.gz